.todo_item {
  /* background-color: #3e4554; */
  background-color: #789dca;
  /* border: 1px solid red; */
  padding: 0.85rem;
  display: flex;
  justify-content: space-between;
  /* color: #000; */
  color: #fff;
  font-weight: 500;
}

.todo_item:nth-child(6n + 1){
  background-color: #f3425f;
}

.todo_item:nth-child(6n + 2) {
  background-color: #9260f7;
}

.todo_item:nth-child(6n + 3) {
  background-color: #45bd63;
}

.todo_item:nth-child(6n + 4) {
  background-color: #216fdb;
}

.todo_item:nth-child(6n + 5) {
  background-color: #f7b928;
}

.todo_item:nth-child(6n + 6){
  background-color: #29bba6;
}

.todo_completed {
  /* background-color: #376efb; */
  /* background-color: #EEEEEE; */
  background-color: #222831;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}