@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #5460fe;
  --dark-blue: #0d163f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222831;
  overflow-y: hidden;
}

.todo_section {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
  background-color: #f6f7fb;
  max-height: 5rem;
  overflow-y: scroll;
  /* Ocultar la barra de desplazamiento en Firefox */
  scrollbar-width: none;
}

/* Ocultar la barra de desplazamiento en navegadores con webkit */
.todo_section::-webkit-scrollbar {
  display: none;
}

.todo_content {
  padding: 0 1rem;
}

.todo_titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.todo_titles h3 {
  font-size: 1.65rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.btn_create {
  background-color: var(--primary-color);
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
  width: 48px;
  height: 48px;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input_search {
  width: 100%;
  padding: 1.25rem 1rem;
  font-size: 0.95rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  box-shadow: 0 0 5px rgba(13, 22, 63, 0.2);
  margin-bottom: 2rem;
}

.input_search:focus {
  outline: 2px solid var(--primary-color);
}

.todo_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 1rem;
}

@media (min-width: 520px) {
  body {
    display: flex;
    justify-content: center;
  }

  .todo_section {
    width: 30rem;
  }
}
